* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: blue;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.wrapper .loader {
    display:flex;
    justify-content: space-evenly;
    padding:0 20px;
}

.loader .loading {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin: 0 10px;
  animation: load 0.8s ease infinite;
}

.loader .loading.one {
  animation-delay: 0.2s;
}
.loader .loading.two {
  animation-delay: 0.4s;
}
.loader .loading.three {
  animation-delay: 0.6s;
}
.loader .loading.four {
  animation-delay: 0.7s;
}

@keyframes load {
  0% {
    height: 30px;
    width: 30px;
  }
  50% {
    height: 20px;
    width: 20px;
  }
}
